{% load static %}

<!DOCTYPE html>
<html class="wide wow-animation" lang="ru">
  <head>
    <title>
      +
    </title>
    <meta name="description" content="+" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <meta name="google-site-verification" content="7CF8IWzWv3Q-CDei9XjzIUHWOMJQiKg0Zd2u1LQfQT8" />
  </head>

<body class="text-center">

  <main class="form-signin">
<form method="post" class="form-signin">
  {% csrf_token %}
  <h1 class="h3 mb-3 fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Будь ласка, війдіть</font></font></h1>
{% if form.errors %}
  <p class="text-danger font-weight-bold">Ім'я користувача та/або пароль неправильно введено.</p>
{% endif %}

  <div class="form-floating ">
    {{ form.username.label_tag }}
    {{ form.username }}
  </div>
  <div class="form-floating " >
    {{ form.password.label_tag }}
    {{ form.password }}
  </div>
<button class="w-100 btn btn-lg btn-primary" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Увійти</font></font></button>

<a href="https://t.me/Test_TEB_bot" target="_blank" class="btn btn-danger btn-lg btn-block mt-3">Реєстрація</a>

</form>
  </main>

  <script src="{% static 'base/js/core.min.js' %}"></script>
  <script src="{% static 'base/js/script.js' %}"></script>


</body>


</html>

